/* This file will hold the main styles for your website. */

/*
wit     ffffff  achtergrond
zwart   000000  body tekst
grijs   666666  tekst
magenta A5007D links
blauw   50739B titels, footer
dblauw  32557D actieve titels
lblauw  EDF1F5 dropdownmenu
oblauw  000A1E overlay (90% dekkend)
paars   A078A0 zoekkleur
dpaars  8C648C actieve zoekkleur
lpaars  ECE4EC zoekvlak
beige   B48C8C browsekleur
dbeige  8C6464 actieve browsekleur
lbeige  F0E8E8 browsevlak
oranje  FF6E00 store links en titels
loranje FFE2CC store vlakken
*/

/* General */

body {
  font: 12px verdana;
  line-height: 15px;
  color: #000000;
}
h1, h2, h3, h4, h5, h6,
h2.block-title {
  font-family: verdana;
  border-color: #DA1A15;
  color: #DA1A15;
}

h2, h2.block-title {
  border-bottom: 1px solid #DA1A15;
}

h2.block-title a:hover {
  color: #DA1A15;
}

.contextual-links-region h2 {
  line-height: 0.8;
}

.site-slogan {
  color: black;
}
a:link, a:visited {
  color: #DA1A15;
}

/* Menu */

#zone-menu {
	font: 16px verdana;
	background-color: #E7A600;
}

#zone-menu a:link,
#zone-menu a:visited {
	color: #fff;
}
#zone-menu a:hover {
  color: #DA1A15;
}

ul.nice-menu-down .menuparent li {
	background: #f0BE40 url(../images/plus-white.png) 10px center no-repeat;
  background-image: url(../images/plus-white.png);
}

ul.nice-menu-down .menuparent li:hover {
  background-image: url(../images/plus-red.png);
}

.menu ul.menu li {
  background-image: url(../images/plus-red.png);
}
.menu ul.menu ul.menu li {
  background-image: url(../images/plus-red.png);
}

ul.nice-menu-down li {
   background-color: #E7A600;
}

/* Footer */

#zone-footer,
#zone-footer a,
#zone-footer a:hover,
#zone-footer h2 {
  color: #fff;
}
#zone-footer {
	background-color: #DA1A15;
	font: 11px verdana;
}

/* Search and browse */

.block-iish-blocks-search,
.block-iish-blocks-search-small {
	color: #A078A0;
}
.block-iish-blocks-search .block-title,
.block-iish-blocks-search-small .block-title {
	color: #A078A0;
	border-color: #A078A0;
}
.block-iish-blocks-search .content,
.block-iish-blocks-search-small .content {
  border-color: #A078A0;
	background-color: #ECE4EC;
}
.block-iish-blocks-browse,
.block-iish-blocks-browse-small {
	color: #B48C8C;
}
.block-iish-blocks-browse .block-title,
.block-iish-blocks-browse-small .block-title {
	color: #B48C8C;
	border-color: #B48C8C;
}
.block-iish-blocks-browse .content,
.block-iish-blocks-browse-small .content {
  border-color: #B48C8C;
	background-color: #F0E8E8;
}

.block-iish-blocks-browse select,
.block-iish-blocks-browse-small select {
  background-image: url(../images/plus-red.png);
  color: #B48C8C;
}
.block-iish-blocks-search input[type="submit"],
.block-iish-blocks-search-small input[type="submit"] {
  background: #A078A0;
  color: #fff;
}

.block-iish-blocks-search input[type="text"],
.block-iish-blocks-search-small input[type="text"] {
  background-image: url(../images/hooks-small.png);
}
.block-iish-blocks-search #search-hook-left,
.block-iish-blocks-search-small #search-hook-left {
  background-image: url(../images/hook-small-left.png);
}
.block-iish-blocks-search #search-hook-right,
.block-iish-blocks-search-small #search-hook-right {
  background-image: url(../images/hook-small-right.png);
}

.browse-menu li.browse-leaf { 
  background-image: url("../images/browse-bg.png");
}
.browse-menu li.browse-leaf.open { 
  color: #fff;
  background-color: #B48C8C;
}
.browse-menu .browse-menu-content { 
  border-color: #B48C8C;
}
.browse-menu .browse-menu-content a:link,
.browse-menu .browse-menu-content a:visited { 
  color: #B48C8C;
}
.browse-menu .browse-menu-content a:hover { 
  color: #A5007D;
}

.iish-block-search .search-catalogue a {
  color: #A078A0;
}

/* News and events */

.view-news .views-field-view-node a,
.view-events .views-field-view-node a {
  color: #666666;
}
.view-news .views-field-title a:hover,
.view-news .views-field-view-node a:hover,
.view-events .views-field-title a:hover,
.view-events .views-field-view-node a:hover {
  color: #DA1A15;
}

.node-readmore a:link,
.node-readmore a:visited,
.more-link a:link,
.more-link a:visited,
.views-field-view-node .read-more,
.views-field-view-node .read-more a:link,
.views-field-view-node .read-more a:visited {
  color: #DA1A15;
}

/* Slideshow */

.views_slideshow_slide {
  background-color: #eee;
}
.views-slideshow-controls-bottom {
  color: #fff;
}
.views-slideshow-controls-bottom .active {
  color: #000;
}

.node-slideshow,
.row-slideshow {
  color: #fff;
}
.node-slideshow .red,
.row-slideshow .red {
	background-color: #ff3300;
}
.node-slideshow .green,
.row-slideshow .green {
	background-color: #66cc00;
}
.node-slideshow .brown,
.row-slideshow .brown {
	background-color: #996600;
}
.node-slideshow .pink,
.row-slideshow .pink {
	background-color: #ff6699;
}
.node-slideshow .blue,
.row-slideshow .blue {
	background-color: #66CBFF;
}
.node-slideshow .yellow,
.row-slideshow .yellow {
	background-color: #CCCD67;
}

.node-slideshow h2,
.row-slideshow h2 {
  color: #000;
}
.node-slideshow .read-more a,
.row-slideshow .read-more a {
  color: #000;
}
.node-slideshow .read-more .plus,
.row-slideshow .read-more .plus {
  color: #fff;
}
.node-slideshow .read-more a:hover,
.row-slideshow .read-more a:hover {
  color: #000;
}


/* Pager */

.item-list .pager {
  border-color: #50739B;
}
.item-list .pager li {
  color: #000;
}

/* Views results */

.view-filters {
  background-color: #f9a09d;
  border-color:  #DA1A15;
}
.view-filters label {
  color: #DA1A15;
}
.view-filters select {
  color: #DA1A15;
}
.view-filters select option[selected="selected"] {
  background-color: #DA1A15;
  color: #fff;
}

.view-browse-taxonomy-terms .view-header {
  color: #DA1A15;
}

.views-exposed-form input[type="submit"] {
  background:#DA1A15;
  color: #fff;
}

/* Search results */

.page-search h1 {
  color: #DA1A15;
}
.page-search #search-form {
  color: #DA1A15;
  border-color: #DA1A15;
  background-color: #f9a09d;
}
.search-form input[type="submit"] {
  background: #DA1A15;
  color: #fff;
}
.search-form #edit-advanced a:link,
.search-form #edit-advanced a:visited {
  color: #DA1A15;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  border-radius: 0px 0px 0px 0px;
      background: none repeat scroll 0 0 #f9a09d;
    color: #FFFFFF;
    margin-left: 10px;
    text-shadow: none;
    text-transform: lowercase;
}

.form-actions input:hover {
  background: #f9a09d;
}

/* Colorbox */

#cboxTitle {
  background-color: #fff;
}
#cboxOverlay {
  background-color: #000A1E;
}

/* networks block voor esshc */

.view-networks .views-row {
	display:inline;
}

*#region-content .view-networks .field {
    margin-bottom: 0px;
}

/* table with border */

table, tbody, tfoot, thead, tr, th, td {
  padding: 2px; 
  border: 1px solid black; 
}

/* correctie op conference layout */


.form-type-textfield {
    width: 800px;
}

ul.nice-menu ul {
  top: 1.80em;
}

#block-views-news-block h2.block-title, #block-views-events-block-1 h2.block-title {
    line-height: 1em;
}

.field-collection-container {
    border-bottom: 0px;
}

.field-collection-container .field-items .field-item {
    margin-bottom: 6px;
}

.field-collection-view {
    border-bottom: 0px;
}

#region-content .content .field {
    margin-bottom: 1px;
}

textarea.readonly-text, select.readonly-text, input[type="date"].readonly-text, input[type="datetime"].readonly-text, input[type="datetime-local"].readonly-text, input[type="email"].readonly-text, input[type="month"].readonly-text, input[type="number"].readonly-text, input[type="password"].readonly-text, input[type="search"].readonly-text, input[type="tel"].readonly-text, input[type="text"].readonly-text, input[type="time"].readonly-text, input[type="url"].readonly-text, input[type="week"].readonly-text {
    border: 0;
    background-color: transparent;
}

.item-list ol.networksforchairs li
, .item-list ol.networksessionpapersxls li
, .item-list ol.networkindividualpapersxls li
, .item-list ol.networkparticipants li
, .item-list ol.networkvolunteers li
, .item-list ol.proposednetworkparticipants li  {
    list-style: decimal inside none !important;
}
